.align-globalLists-center {
  display: inline-block;
  width: 25rem;
}

.social-icon {
  padding: 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 100%;
  background: #125688;
  color: white;
}

.form-control::-webkit-input-placeholder {
  color: #007bff;
}
